*{
    margin: 0;
    padding: 0;
    background-image: url("workspace1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    box-sizing: border-box;
}
body{
    /* background-image: url();
    */
    
    /* background-size: cover;
    background-position: center; */
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    background-color: rgb(90, 77, 77);
    text-align: center;
}
.menu ul{
    display: inline-flex;
    list-style: none;
    color:burlywood
}
.menu ul li{
    width: 130px;
    margin: 15px;
    padding: 15px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu ul li:hover{
    background: rgb(194, 119, 7);
    border-radius: 3px;
}
.menu .fa{
    margin: 10px;
}
.menu1{
    display: none;
}
.menu ul li:hover .menu1 {
    display: block;
    position: absolute;
    background: rgb(red, green, blue);
    margin-top: 10px;
    margin-left: -10px;
}
.menu ul li:hover .menu1 ul{
    display: block;
    margin: 8px;
}
.menu ul li:hover .menu1 ul li{
    width: 120px;
    padding: 9px;
    border-bottom: 1px dotted #fff;
    text-shadow: 2px 5px 5px red;
    border-radius: 0;
    text-align: left;
}
.menu ul li:hover .menu1 ul li:last-child{
    border-bottom: none;
}
.menu ul li:hover .menu1 ul li a:hover{
    color:rgb(74, 198, 207);
    
}